@import url("https://fonts.googleapis.googleapis.com/css?family=Poppoins:200,300,400,500,600,700,800,900&display=swap");

* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background-color: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  border: 2px solid #fff;
  padding: 5px 15px;
}
.logo {
  margin-left: 40px;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

header ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transition-duration: 0.5s;
  margin-left: 15 px;
}

header ul li:hover {
  transform: scale(1.1);
  color: #f18930;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

header ul li.cart-icon a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

header ul li.cart-icon img {
  width: auto;
  height: 32px;
  opacity: 10px;
}

header.sticky .cart-icon img {
  filter: invert(100%);
  transition: 0.5s;
}
header .cart-icon img {
  filter: invert(0%);
}
header.sticky .cart-icon img,
header .cart-icon img {
  transition-duration: 0.5s;
}
body,
html {
  margin: 0;
  padding: 0;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}
header.sticky .logo {
  border: 2px solid #000;
  padding: 5px 15px;
}
header.sticky ul li a::after {
  content: "";
  height: 1.5px;
  width: 0;
  background: #f18930;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  bottom: -10px;
  margin-top: 5px;
  transition-duration: 0.5s;
}
header.sticky ul li a:hover::after {
  width: 100%;
}
